* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS tricks - Box-sizing */
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  background-color: #ede4c9;
  background-size: cover;
  color: #3b335a;
  font-family: 'Epunda Slab', serif;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6199a767;
  color: #000000;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #412658;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #4a7385;
}

/* MDN Web Docs -- CSS transictions */
section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 1.5rem;
  color: #6097ce;
}

.about-card {
  max-width: 1000px;
  padding: 2rem;
  background: #72484800;
  border: 1px solid #7889a5;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(90, 90, 148);
}

.about-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 3px solid #ff9800;
}


.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.project-logo {
  max-width: 60%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto 4rem;
}

.project-card {
  display: flex;
  max-width: 90%;
  height: auto;
  border: 1px solid #0c0909;
  border-radius: 8px;
  background: #f7e2b67a;
  transition: transform 0.3s;
  flex-direction: column;
  margin: 30px;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 12px rgb(90, 90, 148);

}

.project-card:hover {
  transform: scale(1.05);
}

.more-text {
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.read-more-btn {
  width: auto;
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 5vh;
  background: #3d608d;
  color: #fff;
  cursor: pointer;
}

.read-more-btn:hover {
  background: #e68900;
}
#skills-random {
  padding: 4rem 2rem;
  position: relative;
  height: 500px; 
  background: #39273f00;
  overflow: visible;

}

.skills-random-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #204d71;
  box-shadow: 0 4px 12px rgb(62, 88, 122);
  border-radius: 8px; 
}

.skill-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;

}

.skill-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.2rem;
}

.skill-item p {
  color: #39496b;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.skill-item:hover {
  transform: scale(1.3);
  color: #ff990082; 
}



.contact-card,
.contact-form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 400px;
  text-align: left;
  padding: 1rem;
  border: 1px solid #ffe1e1;
  border-radius: 8px;
  background: #d6c8c805;
  box-shadow: 0 4px 10px rgb(48, 74, 103);
}


footer {
  text-align: center;
  padding: 1rem;
  background: #22222227;
  color: #290041;
  margin-top: 2rem;
}

body.dark {
  background: #000524;
  color: #eee;
}

body.dark .navbar,
body.dark footer {
  background: #151b46b7;
}

body.dark .project-card {
  padding: 1rem;
  border: 1px solid #28353e;
  border-radius: 8px;
  background: #2e495b;
}

/* MDN Web Docs - using media queries/ class toggling for dark themes */