* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS tricks - Box-sizing */
html {
  scroll-behavior: smooth;
}
.reveal {
  opacity: 0;               /* غير ظاهر */
  transform: translateY(50px); /* يتحرك شوية من تحت */
  transition: all 2s ease;  /* مدة ظهور العنصر */
}
.reveal.active {
  opacity: 1;
  transform: translateY(0); /* يرجع لمكانه الطبيعي */
}

body {
  margin: 0;
  background: #021129;
  /* overflow: hidden; */
  color:rgb(240, 245, 206)
}

#stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}



.navbar {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #151b4600;
  color: #ffd4fe;
  font-size: large;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #5b4a6b;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #4a7385;
}

/* MDN Web Docs -- CSS transictions */
section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 1.5rem;
  color: #b792be;
}

.about-card {
  /* max-width: 1000px; */
  /* padding: 2rem;
  background: #72484800; */
  border: 1px solid #7889a5;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(90, 127, 148);
  /* position: absolute;     */
  margin-top: 80px;
  margin-bottom: 10px;      
 
  font-size: 6rem;        
  color: #ce9bed;         
  font-weight: bold;      
  text-shadow: 0 0 20px #26557c, 0 0 40px #d4e8e8; 
  z-index: 1;            
  text-align: center;
}

.about-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 3px solid #ff9800;
}
.roles-container {
  display: flex;             /* تصطف Cards بجانب بعض */
  gap: 1.5rem;               /* المسافة بين الـ Cards */
  justify-content: center;    /* توسيط */
  flex-wrap: wrap;            /* يلتف للصف التالي لو الشاشة صغيرة */
  margin-top: 2rem;
}

.role-card {
  flex: 0 1 400px;           /* حجم ثابت تقريبا لكل Card */
  padding: 1rem;
  border-radius: 8px;
  background: #2e495b5f;
  color: #ebd3ef;
  border: 1px, solid #abd4f5;
  border-radius: 8px ;
  box-shadow: 0 4px 12px rgba(249, 249, 249, 0.454);
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}


/* عند الضغط على Card */
.role-card:active {
  transform: scale(1.2);     /* تكبير */
  z-index: 10;               /* لتكون فوق العناصر الأخرى أثناء التكبير */
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.Bio{
  text-align: center;
  font-size: large;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.project-logo {
  max-width: 60%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto 4rem;
}

.project-card {
  display: flex;
  max-width: 90%;
  height: auto;
  /* border: 1px solid #0c0909; */
  /* border-radius: 8px; */
  /* background: #f7e2b67a; */
  transition: transform 0.3s;
  flex-direction: column;
  margin: 30px;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 12px rgb(90, 90, 148);
  padding: 1rem;
  border: 1px solid #28353e;
  border-radius: 8px;
  background: #2e495b67;

}

.project-card:hover {
  transform: scale(1.05);
}

.more-text {
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.read-more-btn {
  width: auto;
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 5vh;
  background: #3d608d;
  color: #fff;
  cursor: pointer;
}

.read-more-btn:hover {
  background: #f1b9ed;
}
#skills-random {
  padding: 4rem 2rem;
  position: relative;
  height: 500px; 
  background: #39273f00;
  overflow: visible;

}

.skills-random-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #204d71;
  box-shadow: 0 4px 12px rgb(62, 88, 122);
  border-radius: 8px; 
}

.skill-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;

}

.skill-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.2rem;
}

.skill-item p {
  color: #39496b;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.skill-item:hover {
  transform: scale(1.3);
  color: #ff990082; 
}



.contact-card,
.contact-form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 400px;
  text-align: left;
  padding: 1rem;
  border: 1px solid #ffe1e1;
  border-radius: 8px;
  background: #b6cff500;
  box-shadow: 0 4px 10px rgb(48, 74, 103);
}


footer {
  text-align: center;
  padding: 1rem;
  background: #22222227;
  color: #8e739e;
  margin-top: 2rem;
}
/* Light Mode */
body.light {
  background: #c8edf6;
  color: #1e2258;
}

body.light .navbar,
body.light footer {
  background: #151b46b7;
}

body.light .project-card {
  padding: 1rem;
  border: 1px solid #fbddfe;
  border-radius: 8px;
  background: #f9d4f134;
}

/* MDN Web Docs - using media queries/ class toggling for dark themes */